src/main/resources/ws/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="businessdata" type="businessdataType"/>
  <xs:complexType name="businessdataType">
    <xs:sequence>
      <xs:element type="xs:integer" name="functioncode"/>
      <xs:element type="xs:string" name="cardNo"/>
      <xs:element type="xs:integer" name="sbp"/>
      <xs:element type="xs:integer" name="dbp"/>
      <xs:element type="xs:integer" name="pulse"/>
      <xs:element type="xs:string" name="icpcode"/>
      <xs:element type="xs:integer" name="bo"/>
      <xs:element type="xs:float" name="glu"/>
      <xs:element type="xs:string" name="hoursAfterMeal"/>
      <xs:element type="xs:float" name="fat"/>
      <xs:element type="xs:integer" name="bmr"/>
      <xs:element type="xs:integer" name="water"/>
      <xs:element type="xs:float" name="height"/>
      <xs:element type="xs:float" name="weight"/>
      <xs:element type="xs:float" name="bmi"/>
      <xs:element type="xs:string" name="fetalheart"/>
      <xs:element type="xs:string" name="ecg"/>
      <xs:element type="xs:string" name="ecgxml"/>
      <xs:element type="xs:string" name="ecgpng"/>
      <xs:element type="xs:string" name="survey1"/>
      <xs:element type="xs:string" name="survey2"/>
      <xs:element type="xs:string" name="survey3"/>
      <xs:element type="xs:string" name="survey4"/>
      <xs:element type="xs:string" name="survey5"/>
      <xs:element type="xs:string" name="survey6"/>
      <xs:element type="xs:string" name="survey7"/>
      <xs:element type="xs:string" name="survey8"/>
      <xs:element type="xs:string" name="survey9"/>
      <xs:element type="xs:string" name="survey10"/>
      <xs:element type="xs:string" name="survey11"/>
      <xs:element type="xs:string" name="survey12"/>
      <xs:element type="xs:string" name="survey13"/>
      <xs:element type="xs:string" name="survey14"/>
      <xs:element type="xs:string" name="fullname"/>
      <xs:element type="xs:string" name="gender"/>
      <xs:element type="xs:string" name="nation"/>
      <xs:element type="xs:date" name="birthday"/>
      <xs:element type="xs:string" name="addr"/>
      <xs:element type="xs:date" name="expire"/>
      <xs:element type="xs:string" name="photo"/>
      <xs:element type="xs:integer" name="phone"/>
      <xs:element type="xs:float" name="CHOL"/>
      <xs:element type="xs:float" name="UA"/>
      <xs:element type="xs:float" name="waistline"/>
      <xs:element type="xs:float" name="hipline"/>
      <xs:element type="xs:float" name="whr"/>
      <xs:element type="xs:string" name="FGCParam"/>
      <xs:element type="xs:string" name="FGCData"/>
      <xs:element type="xs:string" name="URO"/>
      <xs:element type="xs:string" name="BLD"/>
      <xs:element type="xs:string" name="BIL"/>
      <xs:element type="xs:string" name="KET"/>
      <xs:element type="xs:string" name="PRO"/>
      <xs:element type="xs:float" name="PH"/>
      <xs:element type="xs:string" name="NIT"/>
      <xs:element type="xs:string" name="LEU"/>
      <xs:element type="xs:string" name="VC"/>
      <xs:element type="xs:float" name="SG"/>
      <xs:element type="xs:float" name="CHOL1"/>
      <xs:element type="xs:float" name="HDL"/>
      <xs:element type="xs:float" name="LDL"/>
      <xs:element type="xs:float" name="TG"/>
      <xs:element type="xs:string" name="CMP"/>
      <xs:element type="xs:float" name="TT"/>
      <xs:element type="xs:float" name="VisionLeft"/>
      <xs:element type="xs:float" name="VisionRight"/>
      <xs:element type="xs:integer" name="PEF"/>
      <xs:element type="xs:float" name="FEV1"/>
      <xs:element type="xs:float" name="FVC"/>
      <xs:element type="xs:string" name="bd_xml"/>
      <xs:element type="xs:string" name="bd_png"/>
      <xs:element type="xs:float" name="NGSP"/>
    </xs:sequence>
    <xs:attribute type="xs:date" name="checkdate"/>
  </xs:complexType>
</xs:schema>