src/main/resources/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="businessdata" type="businessdataType"/>
  <xs:complexType name="businessdataType">
    <xs:sequence>
      <xs:element type="xs:integer" name="errCode"/>
      <xs:element type="xs:string" name="errMsg"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>